@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

.wrapper {
  max-width: 1690px;
  width: 100%;
  margin: 0 auto;
}

.header .header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .header__logo img {
  max-width: 117px;
}

.header .header__menu {
  margin-left: 60px;
}

.header .header__menu ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header .header__menu ul .header__link {
  padding-bottom: 10px;
  margin-right: 55px;
}

.header .header__menu ul .header__link a {
  text-transform: uppercase;
  font-weight: 800;
  color: #696969;
  font-size: 14px;
  -webkit-transition: 0.1s all ease 0s;
  -o-transition: 0.1s all ease 0s;
  transition: 0.1s all ease 0s;
}

.header .header__menu ul .header__link a:hover {
  color: #333333;
  border-bottom: 2px solid #696969;
}

.header .header__menu ul .header__link:last-child {
  margin-right: 0px;
}

.header .header__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 25px;
}

.header .header__basket a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: black;
}

.header .header__basket ion-icon {
  font-size: 30px;
  -webkit-transform: rotateY(150deg);
          transform: rotateY(150deg);
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
}

.header . {
  font-size: 24px;
  font-family: "themify";
  color: #333333;
  text-transform: uppercase;
  line-height: 0.875;
  position: absolute;
  left: 1789px;
  top: 68.055px;
  z-index: 337;
}

.header .header__burger {
  cursor: pointer;
  position: relative;
  max-width: 30px;
  width: 26px;
  height: 25px;
}

.header .header__burger span {
  background-color: #fff;
  border: 2px solid #333333;
  position: absolute;
  width: 30px;
  height: 7px;
  left: 0;
  top: 9px;
}

.header .header__burger::before,
.header .header__burger::after {
  content: '';
  background-color: #fff;
  border: 2px solid #333333;
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
}

.header .header__burger::before {
  top: 0;
}

.header .header__burger::after {
  bottom: 0;
}

.header .header__check {
  display: none;
}

.cap {
  position: relative;
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 45px 106px 0px 106px;
  width: 100%;
  background: url(../img/header.webp) 85% 100% no-repeat;
  background-color: #f3f3f3 !important;
}

.cap .cap__menu {
  position: absolute;
  bottom: 50px;
}

.cap .cap__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cap .cap__menu ul li {
  border-right: 1px solid #ababab;
  padding: 0px 35px 0px 35px;
}

.cap .cap__menu ul li a {
  color: #696969;
  font-weight: 800;
  font-size: 18px;
}

.cap .cap__menu ul li a:hover {
  color: #333333;
  border-bottom: 1px solid #626262;
}

.cap .cap__menu ul li:last-child {
  border: 0;
  margin: 0;
}

.cap .cap__heading {
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transform: translate(-25%, 15vh);
      -ms-transform: translate(-25%, 15vh);
          transform: translate(-25%, 15vh);
}

.cap .cap__hashtag {
  margin-bottom: 40px;
}

.cap .cap__hashtag p {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 10px;
  font-size: 14px;
  color: #696969;
}

.cap .cap__header h1 {
  display: inline-block;
  max-width: 450px;
  color: #333333;
  font-weight: 800;
  font-size: 80px;
}

.cap .cap__button {
  margin-top: 50px;
}

.cap .cap__button a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  line-height: 1.714;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 800;
  height: 50px;
  padding: 0px 40px;
  background-color: #333333;
  color: #fff;
}

.sponsors .sponsors__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 210px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sponsors .sponsors__link {
  margin-right: 115px;
}

.sponsors .sponsors__link img {
  max-width: 100px;
  width: 100%;
}

.sponsors .sponsors__link:last-child {
  margin: 0;
}

.showcase .showcase__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.showcase .showcase__sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.showcase .showcase__title {
  text-align: center;
  margin-bottom: 80px;
}

.showcase .showcase__title h2 {
  display: inline-block;
  font-size: 80px;
  font-weight: 800;
  border-bottom: 3px solid #333333;
}

.showcase .showcase__buy {
  position: relative;
  min-height: 700px;
}

.showcase .showcase__buy img {
  max-width: 570px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  min-height: 335px;
}

.showcase .showcase__buy .showcase__button a {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  bottom: 60px;
  font-weight: 800;
  text-transform: uppercase;
  left: 50%;
  color: #333333;
  height: 80px;
  padding: 0px 65px;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.showcase .showcase__menu {
  margin: 90px 0px 50px 0px;
}

.showcase .showcase__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.showcase .showcase__link {
  margin-right: 50px;
}

.showcase .showcase__link a {
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ababab;
}

.showcase .showcase__link a:hover {
  color: #333333;
}

.showcase .showcase__link:last-child {
  margin-right: 0px;
}

.showcase .showcase__block {
  display: grid;
  max-width: 1045px;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: end;
  grid-template-rows: 1fr 1fr;
}

.showcase .showcase__box {
  max-width: 320px;
  margin: 0px 40px 40px 0px;
}

.showcase .showcase__box:nth-child(3) {
  margin: 0px 0px 40px 0px;
}

.showcase .showcase__box:nth-child(6) {
  margin: 0px 0px 40px 0px;
}

.showcase .showcase__product {
  margin-bottom: 20px;
  background-color: #f8f8f8;
}

.showcase .showcase__product img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  min-height: 320px;
  max-height: 320px;
}

.showcase .showcase__header {
  margin-bottom: 15px;
}

.showcase .showcase__header h5 {
  font-size: 16px;
  color: #696969;
}

.showcase .showcase__text p {
  font-size: 14px;
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.shares .shares__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shares .shares__women {
  background-color: #f5f4f0;
  max-width: 850px;
  width: 100%;
  margin-right: 15px;
  max-height: 420px;
}

.shares .shares__women img {
  max-width: 850px;
  max-height: 420px;
  width: 100%;
  height: 100%;
}

.shares .shares__men {
  background-color: #f5f4f0;
  max-width: 850px;
  width: 100%;
  margin-left: 15px;
  max-height: 420px;
}

.shares .shares__men img {
  max-width: 850px;
  max-height: 420px;
  width: 100%;
  height: 100%;
}

.shares .shares__sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 51%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  border: 2px solid #fafafa;
  max-width: 370px;
  text-align: center;
}

.shares .shares__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
  height: 190px;
  padding: 0px 30px 0px 30px;
  background-color: #fff;
}

.shares .shares__title h2 {
  font-size: 56px;
  color: #333333;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 50px;
}

.shares .shares__text p {
  font-size: 14px;
  font-weight: 800;
  color: #737373;
  letter-spacing: 13px;
  text-transform: uppercase;
}

.arrivals .arrivals__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 1715px;
  padding-left: 280px;
  min-height: 430px;
  background: url(../img/chair.jpg);
}

.arrivals .arrivals__hash {
  display: inline-block;
  margin-bottom: 25px;
}

.arrivals .arrivals__hash p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 800;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
  height: 50px;
  padding: 0px 15px;
  background-color: #333333;
  color: #fff;
}

.arrivals .arrivals__text {
  margin-bottom: 60px;
}

.arrivals .arrivals__text p {
  color: #696969;
  text-transform: uppercase;
  letter-spacing: 13px;
  font-weight: 800;
}

.arrivals .arrivals__shop {
  margin-bottom: 75px;
}

.arrivals .arrivals__shop a {
  font-size: 24px;
  font-weight: 800;
  color: #333333;
  border-bottom: 1px solid #333333;
}

.footer .footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px 106px 0px 106px;
  width: 100%;
  background-color: #f8f8f8;
  min-height: 400px;
}

.footer .footer__logo img {
  max-width: 190px;
}

.footer .footer__subtext {
  margin-top: 85px;
}

.footer .footer__subtext p {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ababab;
}

.footer .footer__subtext p:last-child {
  margin: 0;
}

.footer .footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__menu {
  margin-right: 150px;
}

.footer .footer__menu input {
  display: block;
  position: relative;
  background: url(../img/outline.svg) no-repeat;
  background-size: 35px 30px;
  background-position: 96% 50%;
  max-width: 570px;
  background-color: #fff;
  width: 570px;
  max-height: 50px;
  margin-top: 25px;
  height: 50px;
  padding: 0px 60px 0px 30px;
  font-size: 14px;
  font-style: italic;
}

.footer .footer__menu:last-child {
  margin: 0;
}

.footer .footer__title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 800;
}

.footer .footer__title_message {
  margin-bottom: 23px !important;
}

.footer .footer__link {
  margin-bottom: 15px;
}

.footer .footer__link a {
  font-size: 14px;
  color: #ababab;
  -webkit-transition: 0.1s ease all 0s;
  -o-transition: 0.1s ease all 0s;
  transition: 0.1s ease all 0s;
}

.footer .footer__link:hover a {
  color: #333333;
  border-bottom: 1px solid #707070;
}

.footer .footer__link:last-child {
  margin: 0;
}

.footer .footer__text {
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 1.714;
  color: #696969;
  margin-bottom: 20px;
}

.footer .footer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.footer .footer__icon a {
  margin-right: 10px;
}

.footer .footer__icon a:last-child {
  margin-right: 0px;
}

.footer .footer__icon .footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #f0f0f0;
  background-color: #f8f8f8;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.footer .footer__icon .footer__item ion-icon {
  max-width: 15px;
  color: #696969;
}

.footer .footer__icon .footer__item:hover {
  border: 0;
  background-color: #333333;
}

.footer .footer__icon .footer__item:hover ion-icon {
  color: #fff;
}

@media screen and (max-width: 1620px) {
  .showcase .showcase__buy .showcase__button a {
    padding: 0 30px;
  }

  .showcase .showcase__sidebar {
    margin: 0px 15px;
  }

  .showcase .showcase__content {
    margin: 0px 20px;
  }

  .showcase .showcase__box {
    margin: 0px 20px 20px 0px;
  }

  .cap {
    padding: 45px 60px 0 60px;
  }

  .footer .footer__content {
    padding: 0px 60px 0 60px;
  }

  .footer .footer__menu {
    margin-right: 60px;
  }
}

@media screen and (max-width: 1440px) {
  .webp .arrivals .arrivals__content {
    background: url(../img/chair.webp) 35% 0%/cover no-repeat !important;
  }

  .arrivals .arrivals__content {
    padding-left: 70px;
  }

  .showcase .showcase__block {
    grid-template-columns: 1fr 1fr;
  }

  .showcase .showcase__title h2 {
    font-size: 60px;
  }

  .showcase .showcase__title {
    margin-bottom: 50px;
  }

  .showcase .showcase__buy .showcase__button a {
    font-size: 14px;
    padding: 0px 27px;
  }

  .showcase .showcase__box:nth-child(3) {
    margin: 0px 20px 20px 0px;
  }

  .showcase .showcase__box:nth-child(6) {
    margin: 0px 20px 20px 0px;
  }

  .footer .footer__menu {
    margin-right: 40px;
  }

  .footer .footer__menu input {
    max-width: 330px;
  }

  .sponsors .sponsors__link {
    margin-right: 60px;
  }

  .shares .shares__text p {
    font-size: 11px;
  }

  .shares .shares__title h2 {
    font-size: 40px;
    letter-spacing: 24px;
  }

  .shares .shares__block {
    height: 140px;
  }

  .cap .cap__header h1 {
    font-size: 50px;
  }

  .cap .cap__hashtag {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .showcase .showcase__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .showcase .showcase__buy {
    max-height: 400px;
    min-height: unset;
  }

  .showcase .showcase__sidebar {
    margin: 20px 15px;
  }

  .sponsors .sponsors__link {
    margin-right: 30px;
  }

  .footer .footer__menu {
    margin: 0px 40px 40px 0px;
  }

  .footer .footer__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 60px 0px 60px 60px;
  }

  .webp .arrivals .arrivals__content {
    background: url(../img/chair.webp) 70% 0/cover no-repeat !important;
  }

  .arrivals .arrivals__content {
    padding-left: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .cap {
    background: url(../img/header.webp) 100% 30%/550px 450px no-repeat;
  }

  .header .header__menu ul .header__link {
    margin-right: 20px;
  }

  .cap .cap__heading {
    -webkit-transform: translate(-35%, 15vh);
        -ms-transform: translate(-35%, 15vh);
            transform: translate(-35%, 15vh);
  }

  .showcase .showcase__buy .showcase__button a {
    padding: 0 60px;
    bottom: 40px;
  }

  .footer__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .sponsors .sponsors__link img {
    max-width: 85px;
  }

  .sponsors .sponsors__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .showcase .showcase__block {
    justify-items: center;
    grid-template-columns: 1fr;
  }

  .footer .footer__block {
    margin: 40px 0px 40px 25px;
  }

  .footer .footer__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__navigation {
    margin-top: 40px;
  }

  .shares .shares__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .shares .shares__women {
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .shares .shares__men {
    margin-left: 0px;
    margin-bottom: 30px;
  }

  .showcase .showcase__menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .showcase .showcase__link {
    margin: 0px 0px 20px 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .showcase .showcase__box {
    margin: 0 0px 20px 0;
  }

  .showcase .showcase__menu {
    margin: 0px 0px 30px 0px;
  }

  .showcase .showcase__sidebar {
    margin: 40px 15px;
  }

  .arrivals .arrivals__content {
    margin-bottom: 40px;
  }

  .footer .footer__subtext {
    margin-top: 35px;
  }

  .header .header__menu ul {
    display: none;
  }

  .header .active ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: fixed;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 10;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    background-color: #333333;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0%;
    left: 0%;
  }

  .header__burger {
    z-index: 11;
  }

  body.active {
    overflow-y: hidden;
  }

  .header .header__menu ul .header__link a {
    color: #fff;
  }

  .cap {
    background: unset;
  }

  .cap .cap__heading {
    -webkit-transform: translate(0%, 15vh);
        -ms-transform: translate(0%, 15vh);
            transform: translate(0%, 15vh);
  }

  .cap .cap__menu {
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
}

@media screen and (max-width: 479px) {
  .cap {
    padding: 20px 20px 0px 20px;
  }

  .footer .footer__content {
    padding: 0 20px 0 20px;
  }

  .footer .footer__menu input {
    max-width: unset;
    width: 100%;
  }

  .footer .footer__menu input {
    padding: 0px 30px 0px 10px;
    background-position: 98% 50%;
    background-size: 25px 20px;
  }

  .footer .footer__title_message {
    margin-right: 40px;
  }

  .footer .footer__block {
    text-align: center;
  }

  .arrivals .arrivals__shop {
    margin-bottom: 30px;
  }

  .arrivals .arrivals__text {
    background-color: #fff;
    margin-bottom: 30px;
  }

  .arrivals .arrivals__text p {
    font-size: 14px;
    letter-spacing: 4px;
    color: #000;
  }

  .arrivals .arrivals__content {
    min-height: 250px;
  }

  .showcase .showcase__box:nth-child(3) {
    margin: 0px 0px 20px 0px;
  }

  .showcase .showcase__text p {
    font-size: 16px;
  }

  .footer .footer__logo img {
    max-width: 160px;
  }

  .footer__navigation {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .showcase .showcase__buy .showcase__button a {
    height: 50px;
    padding: 0 35px;
  }
}

@media screen and (max-width: 380px) {
  .shares .shares__title h2 {
    font-size: 30px;
  }

  .shares .shares__text p {
    letter-spacing: 10px;
  }

  .shares .shares__block {
    height: 120px;
  }

  .shares .shares__women {
    margin-bottom: 15px;
  }

  .sponsors .sponsors__content {
    margin: 0px 20px;
  }

  .sponsors .sponsors__link {
    margin-right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }

  .sponsors .sponsors__link img {
    max-width: 70px;
  }

  .showcase__container {
    max-width: 320px;
  }

  .showcase .showcase__buy .showcase__button a {
    height: 50px;
    padding: 0 20px;
  }

  .cap .cap__menu ul li {
    padding: 0 30px 0 30px;
  }
}

.webp .arrivals .arrivals__content{ background: url(../img/chair.webp); }